@import "./utils/variables";
@import "./layouts/layouts-menus";
@import "./Animations/animations-menus";
@import "./components/components-bouton-menus";
@import "./base/base";

.proj-img {
    position: relative;
    width: 100%;
    height: 0;
    z-index: 0;
    padding-bottom: 56.25%;
    overflow: hidden;
@media screen and (min-width:1024px){
    padding-bottom: 26.25%;
    }
}
.proj-img img {
    position: absolute;
    object-fit: cover;
    height: 100%;
    width: 100%;    
}
/*section menu*/
.h2-menu {
    font-family: 'Shrikhand', cursive;
    margin: 30px 0px 30px 20px;
    font-size: 1.8em;
}
    
.menu {
    border-radius: 40px 40px 0px 0px;
    background-color: $colour-fond;
    display: flex;
    flex-direction: column;
    position: relative;
    margin-top: -35px;
    padding-bottom: 100px;
    @media screen and (min-width:1024px) {
    max-width: 800px;
    margin: auto;
    margin-top: -35px;
    box-shadow: 0 0 16px rgba(0 0 0 /25%);
    }
}
/*Surlignement des intitulés*/
.categorie {
    font-weight: normal;
    margin-left: 20px;
}
.categorie::after {
    content: "";
    border-bottom: 4px solid $colour-tertiary;
    display: block;
    width: 60px;
    margin-top: 6px;
}

