.loader-container {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  background: #f6f6f6;
  animation: fadeout 400ms 3s forwards;
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.loader {
  background-color: #faf8fa;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 3s linear infinite;
  margin: auto;
}

/*Animation loader*/
@keyframes spin {
  0% {
    opacity: 1;
    transform: rotate(0deg) scale(1);
    border-right: 10px solid #99E2D0;
    border-left: 10px solid #99E2D0;
  }
  50% {
    opacity: 1;
    transform: rotate(360deg) scale(1.5);
    border-top: 10px solid #9356DC;
    border-bottom: 10px solid #9356DC;
  }
  75% {
    opacity: 1;
    border-right: 10px solid #99E2D0;
    border-left: 10px solid #99E2D0;
  }
  100% {
    transform: rotate(720deg) scale(1);
    border-top: 10px solid #FF79DA;
    border-bottom: 10px solid #FF79DA;
    opacity: 0;
    display: none;
  }
}
.page {
  padding: 0;
  margin: 0;
}

header {
  padding: 0.75rem 1rem;
  position: relative;
  z-index: 1;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
}

.logo-menu {
  font-family: "Shrikhand", cursive;
  display: flex;
  justify-content: center;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

button {
  font-family: "Roboto", sans-serif;
}

/*section container-section1*/
.recherche {
  display: flex;
  justify-content: center;
  background-color: #eaeaea;
  padding: 15px;
}

input {
  border: transparent;
  text-align: center;
  background-color: #eaeaea;
  display: flex;
  font-size: 1em;
}

input::placeholder {
  font-family: "Roboto", sans-serif;
  color: black;
  font-weight: bold;
}

/*Les titres fonctionnement et restaurants*/
.titres {
  font-size: 1.5em;
}

/***********************/
.explore-restaurants {
  background-color: #f6f6f6;
  padding: 20px 40px 40px;
}

.explore-restaurants h2 {
  text-align: center;
}

.explore-restaurants p {
  text-align: center;
}

.exploration {
  border: none;
  background-image: linear-gradient(to bottom right, rgba(255, 121, 218, 0.95), rgba(147, 86, 220, 0.95));
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  height: 50px;
  padding: 0 30px;
  cursor: pointer;
  display: block;
  margin: auto;
  background-color: #464444;
  transition-duration: 0.2s;
}
.exploration:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
  background-color: white;
}
.exploration span {
  color: white;
  font-weight: 500;
  font-size: 1.2em;
}

/*section fonctionnement*/
.fonctionnement {
  display: flex;
  flex-direction: column;
  padding: 0 18px;
  margin-top: 20px;
}

.fonctionnement button {
  border-radius: 30px 30px 30px 30px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  height: 80px;
  border: none;
}

button.encadrement:not(:last-child) {
  margin-bottom: 20px;
}

.fonctionnement button:hover {
  background-color: #f5edff;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.3);
}

.encadrement {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  cursor: pointer;
}

.encadrement span {
  font-weight: bold;
  font-size: 1.2em;
}

.chiffre {
  display: block;
  border-radius: 50%;
  background-color: #9356DC;
  color: white;
  width: 30px;
  height: 30px;
  margin: -15px;
  font-size: 1.2em;
  line-height: 30px;
}

.fonctionnement .fas {
  padding: 0px 30px;
  font-size: 18px;
}

.encadrement:hover .fas {
  color: #9356DC;
}

/*section restaurants*/
.text-nouveau-box {
  position: absolute;
  right: 20px;
  padding: 10px 30px;
  background: #99E2D0;
  color: #008766;
  font-weight: bold;
}

article a {
  text-decoration: none;
}

article h2 {
  color: black;
  font-weight: bold;
  font-size: 1.2em;
  line-height: 1.8;
  margin: 0;
}

.txt-img p {
  color: black;
  margin: 0;
  font-size: 1.2em;
}

article img {
  border-radius: 20px 20px 0px 0px;
}

article {
  background-color: white;
  border-radius: 20px 20px 20px 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  padding-bottom: 5px;
}

.restaurants {
  background-color: #f6f6f6;
  padding: 15px 20px 30px;
  margin-top: 80px;
}

#cartes {
  display: flex;
  flex-direction: column;
}

#cartes article {
  margin: 10px 0;
  box-sizing: border-box;
}

.restau-img {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.restau-img img {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.txt-img {
  margin: 20px 25px 15px 15px;
}

/*Boutons coeurs*/
.coeurs {
  background-color: transparent;
  background: black;
  border: none;
  padding: 0;
  cursor: pointer;
  position: relative;
  font-size: 25px;
  width: 25px;
  height: 25px;
}
.coeurs:hover::before {
  opacity: 1;
}
.coeurs::before {
  opacity: 0;
  content: "";
  position: absolute;
  transition: 450ms;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#9356DC, #ff79DA);
}

.menu__like {
  position: absolute;
  transition-duration: 250ms;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: lighten;
  background-color: white;
}

.coeurs:hover .menu__like--vide {
  opacity: 0;
}

.align-coeurs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*footer*/
footer {
  background-color: #353535;
  padding: 10px;
  padding-left: 30px;
}

.h1-footer {
  font-family: "Shrikhand", cursive;
  font-size: 1.3em;
  color: white;
  font-weight: normal;
}

.footer-box a {
  text-decoration: none;
}

.footer-box p {
  color: white;
}

.footer-box .fas {
  padding-right: 10px;
}

.couverts .fas {
  margin-right: 6px;
}

/*************************************/
/*Tablette*/
@media screen and (min-width: 800px) and (max-width: 1200px) {
  #cartes article {
    width: 40%;
    margin: 20px;
  }
}

@media screen and (min-width: 800px) and (max-width: 1200px) {
  #cartes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}

/*Desktop*/
@media screen and (min-width: 1201px) {
  .page {
    margin: auto;
    padding: 0 2em;
  }
}

/*section fonctionnement*/
@media screen and (min-width: 800px) {
  .fonctionnement {
    display: block;
  }
}

@media screen and (min-width: 800px) {
  .fonctionnement button {
    padding: 25px;
  }
}

@media screen and (min-width: 1201px) {
  .fonctionnement {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 50px;
  }
}

@media screen and (min-width: 1201px) {
  .fonctionnement button {
    padding: 25px;
  }
}

/***********************/
@media screen and (min-width: 1201px) {
  .restaurants {
    margin-top: 40px;
  }
}

@media screen and (min-width: 1201px) {
  #cartes {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media screen and (min-width: 1201px) {
  .restau-img {
    height: 8rem;
  }
}

@media screen and (min-width: 1201px) {
  #cartes article {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
}

@media screen and (min-width: 1201px) {
  #cartes article:not(:last-child) {
    margin-right: 20px;
  }
}

/*footer*/
@media screen and (min-width: 1201px) {
  .h1-footer {
    text-align: center;
  }
}

@media screen and (min-width: 1201px) {
  .footer-box p {
    padding: 10px;
  }
}

@media screen and (min-width: 1201px) {
  .footer-box {
    display: flex;
    justify-content: center;
  }
}

/*# sourceMappingURL=Style.css.map */
