@charset "UTF-8";
/*Header*/
header {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 1;
  padding: 0.75rem 1rem;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.3);
}

header a {
  position: absolute;
  left: 0;
  margin-left: 0;
  color: black;
}

.logo-menu {
  font-family: "Shrikhand", cursive;
  display: inline-block;
  position: relative;
  justify-content: center;
  margin: 0;
}

.fa-arrow-left {
  padding: 0 35px;
  font-size: 25px;
}

/*Footer*/
footer {
  background-color: #353535;
  padding: 10px;
  padding-left: 30px;
}

.h1-footer {
  font-family: "Shrikhand", cursive;
  font-size: 1.3em;
  color: white;
  font-weight: normal;
}
@media screen and (min-width: 1200px) {
  .h1-footer {
    text-align: center;
  }
}

.footer-box a {
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .footer-box {
    display: flex;
    justify-content: center;
  }
}

.footer-box p {
  color: white;
}
@media screen and (min-width: 1200px) {
  .footer-box p {
    padding: 10px;
  }
}

.footer-box .fas {
  padding-right: 10px;
}

.couverts .fas {
  margin-right: 6px;
}

/*Boutons coeurs*/
.coeurs {
  background-color: transparent;
  background: black;
  border: none;
  margin-right: 60px;
  cursor: pointer;
  position: relative;
  font-size: 25px;
  width: 30px;
  height: 25px;
}
.coeurs:hover::before {
  opacity: 1;
}
.coeurs::before {
  opacity: 0;
  content: "";
  position: absolute;
  transition: 450ms;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(#9356DC, #FF79DA);
}

.menu__like {
  position: absolute;
  transition-duration: 250ms;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  mix-blend-mode: lighten;
  background-color: #f6f6f6;
  color: black;
}

.coeurs:hover .menu__like--vide {
  opacity: 0;
}

.align-coeurs {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Décalage des intitulés*/
.intitules {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.intitules__entrees {
  animation-name: decalage-menu;
  animation-duration: 2s;
}

.intitules__plats {
  animation-name: decalage-menu;
  animation-duration: 4s;
}

.intitules__desserts {
  animation-name: decalage-menu;
  animation-duration: 6s;
}

@keyframes decalage-menu {
  0% {
    opacity: 0;
    transform: translateY(-300px);
  }
  70% {
    opacity: 0.2;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
/*Icone-coche verte*/
.plats {
  background-color: white;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
  margin: 20px;
  /*width: 380px;*/
  display: flex;
  overflow: hidden;
  font-size: 1.3em;
  cursor: pointer;
}
.plats:hover .contenu {
  width: 90%;
}
.plats:hover .icone-coche {
  width: 10%;
  display: initial;
  animation: icone-slide 350ms;
}
.plats:hover .virgule {
  animation: icone-rotation 500ms;
}
.plats .icone-coche {
  color: #f6f6f6;
  background: #99E2D0;
  /*float: right;*/
  text-align: center;
  transition: width 0.2s;
  width: 0;
  padding: 20px;
  font-size: 1.7rem;
  display: none;
}

@keyframes icone-slide {
  0% {
    opacity: 0;
    transform: translateX(80px);
  }
  50% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes icone-rotation {
  0% {
    opacity: 0;
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(-360deg);
  }
  100% {
    opacity: 1;
    transform: rotate(0deg);
  }
}
.contenu {
  padding: 15px;
  width: 100%;
  transition: width 0.2s;
}
.contenu h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}
.contenu p {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: 1.5;
  font-weight: 400;
  margin: 0;
}

/*.plats h3 {
    margin: 15px 0px 0px 15px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.3; 
}*/
/*.plats p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: 1.65;
    margin: 0;
    font-weight: 400;
}*/
.align-prix {
  /*margin: 0px 30px 15px 15px;*/
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prix {
  margin-right: 25px;
  font-weight: bold;
}

/*bouton order*/
.order {
  font-family: "Roboto", sans-serif;
  border: none;
  background-image: linear-gradient(to bottom, rgba(255, 121, 218, 0.95), rgba(147, 86, 220, 0.95));
  border-radius: 40px 40px 40px 40px;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
  height: 70px;
  padding: 0 70px;
  display: block;
  margin: auto;
  margin-top: 40px;
  cursor: pointer;
  background-color: #464444;
  transition-duration: 0.2s;
}
.order:hover {
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
  background-color: white;
}
.order span {
  color: white;
  font-size: 1.5em;
  font-weight: 500;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.proj-img {
  position: relative;
  width: 100%;
  height: 0;
  z-index: 0;
  padding-bottom: 56.25%;
  overflow: hidden;
}
@media screen and (min-width: 1024px) {
  .proj-img {
    padding-bottom: 26.25%;
  }
}

.proj-img img {
  position: absolute;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

/*section menu*/
.h2-menu {
  font-family: "Shrikhand", cursive;
  margin: 30px 0px 30px 20px;
  font-size: 1.8em;
}

.menu {
  border-radius: 40px 40px 0px 0px;
  background-color: #f6f6f6;
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: -35px;
  padding-bottom: 100px;
}
@media screen and (min-width: 1024px) {
  .menu {
    max-width: 800px;
    margin: auto;
    margin-top: -35px;
    box-shadow: 0 0 16px rgba(0, 0, 0, 0.25);
  }
}

/*Surlignement des intitulés*/
.categorie {
  font-weight: normal;
  margin-left: 20px;
}

.categorie::after {
  content: "";
  border-bottom: 4px solid #99E2D0;
  display: block;
  width: 60px;
  margin-top: 6px;
}

/*# sourceMappingURL=style.css.map */
