/*Boutons coeurs*/

.coeurs {
    background-color: transparent;
    background: black;
    border: none;
    margin-right: 60px;
    cursor: pointer;
    position: relative;
    font-size: 25px;
    width: 30px;
    height: 25px;
        &:hover::before {
            opacity: 1;
        }
        &::before {
            opacity: 0;
            content: "";
            position: absolute;
            transition: 450ms;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient($colour-primary,$colour-secondary);
        } 
}  
.menu__like {
    position: absolute;
    transition-duration: 250ms;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    mix-blend-mode: lighten;
    background-color: $colour-fond;
    color: black;
}
.coeurs:hover {
    .menu__like {
            &--vide {
                opacity: 0;
            }
    }
}
.align-coeurs {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
    
/*Décalage des intitulés*/
    
.intitules {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.intitules__entrees {
    animation-name: decalage-menu;
    animation-duration: 2s;
}
.intitules__plats {
    animation-name: decalage-menu;
    animation-duration: 4s;
}
.intitules__desserts {
    animation-name: decalage-menu;
    animation-duration: 6s;
}
    @keyframes decalage-menu {
        0% {
            opacity: 0;
            transform: translateY(-300px);
        }
        70% {
            opacity: 0.2;
            transform: translateY(20px);
        }
        100% {
            opacity: 1;
            transform: translateY(0);
        }
}

/*Icone-coche verte*/

.plats {
    background-color: white;
    box-shadow: $shadow-elements;
    border-radius: 20px;
    margin: 20px;
    display: flex;
    overflow: hidden;
    font-size: 1.3em;
    cursor: pointer;
        &:hover .contenu {
            width: 80%;
        }
        &:hover .icone-coche {
            width: 20%;
        }
        &:hover .virgule {
            transform: rotate(720deg);
        }
        .contenu {
            box-sizing: border-box;
        }
        .icone-coche {
            overflow: hidden;
            position: relative;
            color: $colour-fond;
            background: $colour-tertiary;
            text-align: center;
            transition: width 0.2s;
            width: 0;
            font-size: 1.7rem;
        }
        .virgule {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-left: -14px;
            margin-top: -14px;
            transition: transform .3s;
        }
}

.contenu {
    padding: 15px;
    width: 100%;
    transition: width 0.2s;
        p {
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin: 0;
            line-height: 1.5;
            font-weight: 400;
        }
        h3 {
            margin: 0;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
        }
}
.align-prix {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.prix {
    margin-right: 25px;
    margin-left: 10px;
    font-weight: bold;
}
