
/*Page Accueil*/

/*header*/
header {
    padding: 0.75rem 1rem;
    position: relative;
    z-index: 1;
    box-shadow: $shadow-header;
}
.logo-menu {
    font-family: 'Shrikhand', cursive;
    display: flex;
    justify-content: center;
    margin: 0;
}

/*footer*/
footer {
    background-color: #353535;
    padding: 10px;
    padding-left: 30px;
}
.h1-footer {
    font-family: 'Shrikhand', cursive;
    font-size: 1.3em;
    color: white;
    font-weight: normal;
}
.footer-box a {
    text-decoration: none;
}
.footer-box p {
    color: white;
}
.footer-box .fas {
    padding-right: 10px;
}
.couverts .fas {
    margin-right: 6px;
}